<% unless @user.id == current_user.id %>
  <% if @user.following?(current_user) %>
    <p>あなたはフォローされています</p>
  <% else %>
    <p>あなたはフォローされていません</p>
  <% end %>
<% end %>

<%= render partial: "user_relationships/follow_form", locals: { user: @user } %>

<h2>フォローされている人数</h2>
<div id="followers">
  <%= @user.followers.count %>
</div>

<h2>フォローしている人数</h2>
<div>
  <%= @user.following.count %>
</div>

<% @reviews.each do |review| %>
  <%= review.name %><br>
  <%= review.content %><br>
  <%= link_to 'レビューの詳細', review_path(review) %><br>
  <div id="users-show-like-button-<%= review.id %>">
    <%= render partial: "likes/like", locals: { like: review.likes.find_by(user_id: current_user.id), review: review } %>
  </div>
<% end %>
