<% if user_signed_in? %>

  <p id="notice"><%= notice %></p>

  <h1>トップページ</h1>

  <h2>User一覧</h2>
  <% @users.each do |user| %>
    <%= link_to "#{user.username}さん", user_path(user) %><br>
  <% end %>

  <h2>Review一覧</h2>
  <%= link_to 'Reviewを作成する', new_review_path %>
  <% @reviews.each do |review| %>
    <div>
      <%= link_to "#{review.user.username}さん", user_path(review.user) %>
      <%= review.name %>
      <%= review.content %>
      <%= link_to '詳細', review_path(review) %>
      <% if review.user.id == current_user.id %>
        <%= link_to '編集', edit_review_path(review) %>
        <%= link_to '削除', "/reviews/#{review.id}", method: :delete %>
      <% end %>
    </div>
  <% end %>

  <div class="update-history-title">
    <h2>更新履歴</h2>
    <% if @uncheck_histories.count == 0 %>
    <!-- 何も表示しない -->
    <% else %>
      <div class="uncheck-number">
        <%= @uncheck_histories.count %>
      </div>
    <% end %>
  </div>

  <% @histories.each do |h| %>
    <% if h.item_type == "Review" %>
      <% if h.item == nil %>
      <!-- 何もしない -->
      <% else %>
        <div>
          <%= h.created_at %>:<%= h.item.user.username %>が<%= h.item_type %>を<%= h.event %>しました
          <%= link_to '詳細', review_path(h.item.id) %>
          <% if h.item.check_unread_review(current_user.id, h.item.id).empty? %>
          <!-- 何も表示しない -->
          <% else %>
            <% if (h.item.check_unread_review(current_user.id, h.item.id)[0].checked_flag == true) %>
              <span class="already-read">既読</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% elsif h.item_type == "Comment" %>
      <% if h.item == nil %>
      <!-- 何もしない -->
      <% else %>
        <div>
          <%= h.created_at %>:<%= h.item.user.username %>が<%= h.item_type %>を<%= h.event %>しました
          <%= link_to '詳細', review_path(h.item.review_id) %>
          <% if h.item.check_unread_comment(current_user.id, h.item.review_id, h.item.id).empty? %>
          <!-- 何も表示しない -->
          <% else %>
            <% if (h.item.check_unread_comment(current_user.id, h.item.review_id, h.item.id)[0].checked_flag == true) %>
              <span class="already-read">既読</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% elsif h.item_type == "Like" %>
      <% if h.item == nil %>
      <!-- 何もしない -->
      <% else %>
        <div>
          <%= h.created_at %>:<%= h.item.user.username %>が<%= h.item_type %>を<%= h.event %>しました
          <%= link_to '詳細', review_path(h.item.review_id) %>
          <% if h.item.checked_unread_like(current_user.id, h.item.review_id, h.item.id).empty? %>
          <!-- 何も表示しない -->
          <% else %>
            <% if (h.item.checked_unread_like(current_user.id, h.item.review_id, h.item.id)[0].checked_flag == true) %>
              <span class="already-read">既読</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else h.item_type == "UserRelationship" %>
      <% if h.item == nil %>
      <!-- 何もしない -->
      <% else %>
        <div>
          <%= h.created_at %>:<%= h.item.follower.username %>が<%= h.item.followed.username %>をフォローしました
        </div>
      <% end %>
    <% end %>
  <% end %>

<% else %>

  <p><%= link_to 'ログイン', new_user_session_path %>もしくは<%= link_to '会員登録', new_user_registration_path %>をしてください</p>

<% end %>
