<% if user_signed_in? %>

  <p id="notice"><%= notice %></p>

  <h1>トップページ</h1>

  <h2>User一覧</h2>
  <% @users.each do |user| %>
    <%= link_to "#{user.username}さん", user_path(user) %><br>
  <% end %>

  <h2>Review一覧</h2>
  <%= link_to 'Reviewを作成する', new_review_path %>
  <% @reviews.each do |review| %>
    <div>
      <%= link_to "#{review.user.username}さん", user_path(review.user) %>
      <%= review.name %>
      <%= review.content %>
      <%= link_to '詳細', review_path(review) %>
      <% if review.user.id == current_user.id %>
        <%= link_to '編集', edit_review_path(review) %>
        <%= link_to '削除', "/reviews/#{review.id}", method: :delete %>
      <% end %>
    </div>
  <% end %>

  <div class="update-history-heading">
    <h2>更新履歴</h2>
    <% if @uncheck_histories.count == 0 %>
    <!-- 何も表示しない -->
    <% else %>
      <div id="uncheck-number-homes-index">
        <%= @uncheck_histories.count %>
      </div>
    <% end %>
  </div>

  <div id="update-history-homes-index">
    <%= render partial: "homes/update_history", locals: { histories: @histories } %>
  </div>

<% else %>

  <div class="application-promotion">
    <p><%= link_to 'ログイン', new_user_session_path %>もしくは<%= link_to '会員登録', new_user_registration_path %>をしてください</p>
  </div>

<% end %>

<script>
$(function() {
  var ajaxCheckHistory = function() {
    $.ajax({
      url: "/check_history",
      type: "GET",
    });
  };
  $('#dropdown-update-history').click(function() {
    ajaxCheckHistory();
  });
});
</script>
