<h1>Review-<%= @review.id %></h1>

<div>
  <h2><%= @review.user.username %>さん</h2>
</div>

<div>
  <h2>Name</h2>
  <%= @review.name %>
</div>

<div>
  <h2>Content</h2>
  <%= @review.content %>
</div>

<h2>Like</h2>

<div id="reviews-show-like-button">
  <%= render partial: "likes/like", locals: { like: @review.likes.find_by(user_id: current_user.id), review: @review } %>
</div>

<h2>Comment一覧</h2>

<%= link_to 'コメントする', new_review_comment_path(@review) %>

<% @review.comments.each do |comment| %>
  <div>
    <%= comment.user.username %>
    <%= comment.content %>
    <% if comment.user.id == current_user.id %>
      <%= link_to '編集', edit_review_comment_path(@review, comment) %>
      <%= link_to '削除', "/reviews/#{@review.id}/comments/#{comment.id}", method: :delete %>
    <% end %>
  </div>
<% end %>

<div>
  <%= link_to 'トップページへ戻る', root_path %>
</div>
