<!DOCTYPE html>
<html>
<head>
  <title>UpdateHistory1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- ナビゲーションバー -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'UpdateHistory1', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbarEexample">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "#{current_user.username}さん", user_path(current_user) %></li>
        <li><%= link_to '会員情報を編集', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <% end %>
        <% if user_signed_in? %>
          <% if controller_name == "homes" && action_name == "index" %>
            <li class="dropdown">
              <% if @uncheck_histories.count == 0 %>
              <!-- 何も表示しない -->
              <% else %>
              <div id="uncheck-number-navbar">
                <%= @uncheck_histories.count %>
              </div>
              <% end %>
              <a href="/check_history" class="dropdown-toggle" id="dropdown-update-history" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更新履歴<span class="caret"></span></a>
              <ul class="dropdown-menu" id="update-history-menu">
                <li>
                  <div id="update-history-navbar">
                    <%= render partial: "homes/update_history", locals: { histories: @histories } %>
                  </div>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
